@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Yovo Project by Team 3 .NET Academy (aka Thundercats)</h3>

<p>This website is made as a project in the .net academy in order to learn .net technologies and mvc techniques.</p>
<p>For more information @Html.ActionLink("Contact Us", "Contact").</p>

<h5>Thank you for your attention!</h5>
