
@{
    ViewBag.Title = "View";
}
<style>
    h2 {
        margin: 0 auto!important;
        color: #e67300;
        text-shadow: 2px 2px #ff944d;
    }
    footer {
        display: none!important;
    }
</style>
<script>
    setTimeout(function () {
        window.location.href = 'http://localhost:51597';
    }, 2000);
</script>
<h2>Thank you for your choice!</h2>

